@media screen and (min-width: 320px) and (max-width: 767px) {

    .page-header {
        /* max-width: 767px; */
        display: flex;

        box-sizing: border-box;
        margin: 0;
        padding: 0 15px;

        /* border: 5px solid green; */
       }

       .header__wrapper {
        padding: 16px;
       }

       .header-nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 1.5px 0;
        box-sizing: border-box;
        margin: 0;
    
        /* border: 2px dashed blue; */
        /* margin-bottom: 168px; */
        
        /* display: flex;
        flex-flow: column wrap; */
        
       }

       .header-nav .burger-icon_container {
        display: flex;
        
        justify-content: center;
        position: relative;
        top: 0px;
        right: 0px;
        width: 16.8px;
        height: 14.4px;
        padding: 4.8px 3.6px;
        cursor: pointer;
        /* border: 1px dashed black; */
       }

       .burger-icon-deash {
        position: absolute;
        /* padding: 4.8px 3.6px; */
        width: 16.8px;
        height: 2.4px;
        border-radius: 10px;
        background-color: #2F2F37;
       }

       .burger-icon-deash:before, .burger-icon-deash:after {
        content: " ";
        display: block;
        position: absolute;
        width: 16.8px;
        height: 2.4px;
        background-color: #2F2F37;
       }

       .burger-icon-deash:before {
        top: 5px;
       }

       .burger-icon-deash:after {
        top: -5px;
       }

       /* .page-header .header-nav, .page-header .contacts {
        display: none;
       } */

       .mobile_header__wrapper {
        display: block;
        position: relative;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 40px;

        display: none;
        position: absolute;
       }

       .open-mobile_header {
        display: none;

       }

   .page-header .container {
    /* width: 320px; */

    /* padding-bottom: 40px; */

    /* display: block; */
    
    /* display: flex;
    flex-flow: column wrap;
    justify-content: center; */
   }

   /* .header__wrapper .container {
    width: 320px;
    padding-bottom: 40px;
   } */

  

   .open-mobile_header .contacts-list {
    display: flex;
    flex-flow: column wrap;
    column-gap: 24px;
   }

   .open-mobile_header .contacts-list .contacts-item:first-child {
    order: 1;
   }

   .nav-list {
    /* display: block; */
    /* display: block;
    margin-top: 72px;
    margin-bottom: 16px; */
    /* visibility: hidden;
    position: absolute;
    top: -999px; */
    display: none;
   }

   /* .header-nav .nav-list, .header-nav .contacts {
    display: none;
    position: absolute;
    top: -9999px;
   } */

   .nav-list:nth-child(2) {
    /* grid-gap: 40px 0; */
   }

   .nav-list li a {
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 2%;
   }

   .nav-list li a:after {
    display: none;
   }

   .header__wrapper .contacts-list {
    /* display: flex; */
    flex-flow: column wrap;
    column-gap: 24px;
    display: none;
   }

   .contacts-list .contacts-item:first-child {
    order: 1;
   }

   .contacts-link {
    padding: 0;
   }

  .main .main_title {
    /* max-width: 216px; */
    /* margin: 0 0 72px 7%; */
  }

.main .section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.main__item_first .icon-container {
    display: none;
}

.main__photo-section, .main__projects .main__list_three, .page-footer .footer-container {
    padding-left: 15px;
}

.main .container {
    max-width: 320px;
    box-sizing: border-box;
    /* padding: 0; */
    padding: 0 16px;
}

/* .main__content .container {
    max-width: 320px;
    box-sizing: border-box;
    padding: 0 16px;
} */

.main .main_title {
    margin: 0 auto 48px;
}

.main .container .btn {
    display: block;
    margin: 0 auto;
}

   .container {
    padding-left: 0;
    padding-right: 0;
   }


   .social-icons {
    padding-left: 1.5%;
    box-sizing: border-box;
   }

   .main__list_first {
    /* column-gap: 72px; */
   }

  .main__item_first .main__item-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 2%;
    padding-bottom: 8px;
   }

   section.main__content ul.main__list_first li.main__item_first {
    /* width: calc((100% - 3* 24px) / 1); */
    width: 100%;
    
   }

   .main__item_first:not(:last-child) {
    margin-bottom: 72px;
   }

   .main__content .main__list_first, .main__photo-section .main__list_two, .main__photo-section .main__list_two {
    display: flex;
    flex-flow: column wrap;
   }

   .main__photo-section .section-title {
    display: flex;
    justify-self: center;
    /* padding-left: 7%; */
    box-sizing: border-box;
    font-size: 36px;
   }

   .main__photo-section ul.main__list_two {
    width: 100%;
    align-items: center;
    gap: 31px 0;
   }

   /* .main__item_two:not(:last-child) {
    margin-bottom: 72px;
    margin-bottom: 31px;
   } */

   ul.main__list_two li.main__item_two  {
    /* width: 100%; */
   }

   .main__item_two picture {
    margin: 0 auto;
   }

   .main__item_two picture img {
    object-fit: cover;
   }

   .main__item-text {
    color: #434455;
    font-weight: 500;
    font-size: 16px;
   }

   .main__item-content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
   }

   .main__projects .section-title {
    display: flex;
   }

   .main__list_three {
    display: flex;
    flex-flow: column wrap;
   }

  .main__list_three .main__item_three {
    width: 100%;
  }

   .main__projects .section-title {
    box-sizing: border-box;
    justify-content: center;
   }

   .main__projects .main__item-title {
        width: 100%;
   }

   .main__projects .img-container img {
    max-width: 100%;
    height: auto;
   }

   .footer-container {
    flex-flow: column wrap;
    box-sizing: border-box;
    /* align-content: start; */
    /* padding-left: 6%; */
    gap: 15px 0px;
    text-align: center;
    align-items: center;
    /* display: flex;
    flex-flow: column wrap;
    align-content: start; */
   }

   .page-footer .container{
    width: 320px;
    gap: 0;
   }

   .footer-content {
    margin-right: 0;
   }

   .footer-text {
    width: 264px;
   }

   .footer-container .social-title {
    transform: translate(10px, 0);
   }

   .modal-container {
    display: flex;
    flex-flow: column wrap;
   }

   .social-media {
    margin-top: 72px;
    margin-bottom: 72px;
   }

   .social-media .social-icons {
    padding-left: 0;
    box-sizing: border-box;
    /* transform: translate(10%, 0px); */
   }

   .subscribe-container {
    margin-left: 0;
   }

   .subscribe-form {
    display: flex;
    flex-flow: column wrap;
   }

   .subscribe-label input {
    width: 288px;
   }

   .subscribe-button {
    width: 165px;
    align-self: center;
   }

   .modal-container {
    display: none;
   }

   .modal-window {
    /* top: 15%;
    left: 13.3%; */
    width: 288px;
   }
}

/* @media screen and (max-width: 768px) {
    .main section {
        width: 100%;
    }
    .main .container {
        max-width: 767px;
    }
} */

@media screen and (min-width: 767px) and (max-width: 1157px) {

    .page-header {
        /* max-width: 768px; */
        margin-left: 0;
        margin-right: 0;
        
        /* max-width: 768px; */
        width: 100%;
    }

    .page-header .container {
        align-items: flex-start;
        min-width: 100%;
    }
    

    .header-nav .header-logo {
        font-weight: 700;
        font-size: 18px;
        line-height: 21;
        letter-spacing: 3%;
    }

/* .container, .main, .main__header, .main__content .container, .main .section, .page-footer {
    max-width: 768px; 
} */

.container{
    max-width: 768px; 
}

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 24px 16px;
    }

    

    .header-nav {
        flex-direction: row;
        align-items: flex-start;
    }

    .burger-icon_container {
        display: none;
        position: absolute;
    }

    .header-nav .logo {
        display: flex;
        padding: 0;
        margin: 0;
        line-height: 1.6;
    }

    .nav-list {
        flex-direction: row;
        padding-left: 20px;
    }

    .header__wrapper .contacts {
        display: flex;
    }

    .nav-list {
        /* overflow-x: hidden; */
        display: flex;
        justify-content: space-between;
    }

    .nav-list .nav-link {
        padding: 0;
    }

    .contacts .contacts-list {
        display: flex;
        flex-flow: column wrap;
        gap: 12px 0;
    }

    .contacts .contacts-link {
        padding: 0;
    }

    .main section {
        max-width: 100%;
    }

.main__item_first {
    position: relative;
}

.main__content .icon-container {
    display: none;
    position: absolute;
}

.main__list_first {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
}

.main__list_first .main__item_first {
    min-width: 45%;
    /* margin: 72px 24px; */
    gap: 64px 24px;
}

.main__photo-section  ul.main__list_two {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 64px 24px;
}


.section-title {
    justify-content: center;
}

.main__projects ul.main__list_three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
}

.main__list_three .main__item_three {
    width: 40%;
}

.page-footer .footer-container{
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    padding-left: 108px;
    margin: 0;
}

.footer-content {
    margin-right: 24px;
}

.subscribe-container {
    margin: 72px 0 0;
    
}

}

@media screen and (min-width: 1158px) {

    .header__wrapper .contacts, .header__wrapper .nav-list  {
        display: flex;
    }
    .header-nav {
        flex-direction: row;
    }

    .header__wrapper .contacts  {
        display: block;
    }

    .nav-list {
        flex-direction: row;
    }
}

@media screen and (max-width: 768px) {
    .main__header .section_first .container {
        max-width: 768px;
    }

.main__header {	
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
   ), url(../images/people-office-1x.jpg);
    }

@media (min-resolution: 2x) {
    .main__header {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-2x.jpg');
  }
}
}

@media screen and (min-width: 768px) {

        .main__header {	
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
       ), url(../images/people-office-1x.jpg);
        }
        
        @media (min-resolution: 2x){
        .main__header {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
       ), url(../images/people-office-2x.jpg);
        }
        }
    }

    @media screen and (min-width: 1158px) {

        .main__header {	
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
       ), url(../images/people-office-1x.jpg);
        }
        
        @media (min-resolution: 2x){
        .main__header {
        background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
       ), url(../images/people-office-2x.jpg);
        }
        }
    };