.hidden {
    display: none;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(100%);
    white-space: nowrap;

    visibility: hidden;
} 

/* COMMON */

 .container {
    max-width: 320px;
    /* padding: 0 16px; */
    margin: 0 auto;
} 

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
} 

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}

/* COMMON */

/* HEADER */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    margin: 0 auto;
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(36, 47, 66 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.16);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__wrapper .container {
    padding: 0 16px;
}

@media screen and (min-width: 768px) {
    .page-header .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .page-header .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}







.header-nav {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 1.5px 0;
    box-sizing: border-box;
    margin: 0;
   }

@media screen and (min-width: 767px) {
    .header-nav {
        flex-direction: row;
        align-items: flex-start;
        
    }

}

/* @media screen and (min-width: 1158px) {
    .header-nav {
        flex-direction: row;
        align-items: flex-start;
        
    }
} */


   .mobile_header__wrapper {
    display: block;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;

    display: none;
    position: absolute;
   }

   .open-mobile_header {
    display: none;
   }

   .open-mobile_header .contacts-list {
    display: flex;
    flex-flow: column wrap;
    column-gap: 24px;
   }

   .open-mobile_header .contacts-list .contacts-item:first-child {
    order: 1;
   }

   .logo-part {
    color: #2e2f42;
}

   .nav-list {
    display: none;
   }

   @media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding-left: 20px;
    }
   }

   @media screen and (min-width: 1158px) {
    .nav-list {
        font-weight: 500;
        line-height: 1.5;
        display: flex;
        gap: 40px;
    }
}

.nav-list li a {
    font-size: 36px;
    line-height: 40px;
}

@media screen and (min-width: 767px) {
    .nav-list li a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}


/* @media screen and (min-width: 1158px) {
    .nav-list li a {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
} */


.header__wrapper .contacts {
    /* display: flex; */
    display: none;
}

@media screen and (min-width: 768px) {
    .header__wrapper .contacts {
        display: flex;   
    }
}

/* @media screen and (min-width: 1158px) {
    .header__wrapper .contacts {
        display: flex;   
    }
} */

    .contacts {
        font-style: normal;
        margin-left: auto;
    }

   .header__wrapper .contacts-list {
    display: flex;
    flex-flow: column wrap;
    column-gap: 24px;
    display: none;
   }

   @media screen and (min-width: 768px) {
    .header__wrapper .contacts-list {
        display: flex;
        column-gap: 12px 0;
    }
   }

@media screen and (min-width: 1158px) {
    .header__wrapper .contacts-list {
        flex-direction: row;
        gap: 40px;
    }
}

.contacts-list .contacts-item:first-child {
    order: 1;
   }

   .contacts-link {
    padding: 0;
   }

    .contacts .contacts-link {
        padding: 0;
    }

    @media screen and (min-width: 767px) {
        .contacts .contacts-link {
            padding: 0;
        }
    }

   @media screen and (min-width: 1158px) {
    .contacts-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        padding: 24px 0;
        }
   }

   .burger-btn_2 {
    padding: 0;
    border: 0;
    background-color: transparent;
   }

@media screen and (min-width: 767px) {
    .burger-btn_2 {
        display: none;
       }
}


/* @media screen and (min-width: 1158px) {
    .burger-btn_2 {
        display: none;
       }
} */

.burger-icon {
    display: block;
    fill: #2f2f37;
}


.nav-list, .header__wrapper .contacts {
    display: none;
}

.logo {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    font-family: "Raleway", serif; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo {
    padding: 16px 0;
    display: block;
}

@media screen and (min-width: 767px) {
    .header-nav .logo {
        display: flex;
        padding: 0;
        margin: 0;
        line-height: 1.6;
    }

    .header-nav .header-logo {
        font-weight: 700;
        font-size: 18px;
    }
}

/* @media screen and (min-width: 1158px) {
    .header-nav .logo {
        display: flex;
        padding: 0;
        margin: 0;
        line-height: 1.6;
    }

    .header-nav .header-logo {
        font-weight: 700;
        font-size: 18px;
    }
} */


.burger-btn_2 {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.burger-icon {
    display: block;
    fill: #2f2f37;
} 

@media screen and (min-width: 767px) {
    .burger-btn_2 {
        display: none;
    }

    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }

    .contacts {
        font-style: normal;
        display: block;
    }

    .nav-link {
        display: block;
        padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        transition: color 250ms cubic-bezier(0.4, 0, 02, 1);
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current {
        position: relative;
    }

    .nav-link.current::after {
        content: " ";
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    }

    .page-header .contacts {
        font-style: normal;
        display: block;
    }

    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .contacts-link {
        display: block;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus,
    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link.current {
        color: #404bbf;
    }
} 

@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }

    .contacts-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts-link {
        padding: 24px 0;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
} 

/* HEADER / */

/* MAIN */

/* .section {
    margin-bottom: 24px;
} */

/* section main__header */

 .main__header {
    text-align: center;
    background-color: #f5f5f5;
    padding: 188px 0; 
    max-width: 100%; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

        background-image: linear-gradient(
              to bottom,
              rgba(46, 47, 66, 0.7),
              rgba(46, 47, 66, 0.7)
            ),
            url('../images/people-office-1x.jpg');
}


.main__header .container {
    margin: 0 auto;
}


/* @media screen and (min-width: 1158px) {
    .main__header .container {
        max-width: 1158px;
    }
} */


.main .main_title {
    margin: 0 auto 48px;
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

@media screen and (min-width: 767px) {
    .main .main_title {
        font-size: 56px;
    }
}

.main__header .btn {
    display: block;
    margin: 0 auto;

    font-family: "Roboto", sans-serif;
    min-width: 169px;
    height: 56px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    color: #ffffff;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
    background-color: #404BBF;
}

/* section main__header / */

/* section main__content */




















.main__content {
    padding: 16px;
    background-color: #ffffff;

}

/* section main__content / */

/* section main__photo-section */


/* section main__photo-section / */


/* section main__projects */


/* section main__projects / */

/* MAIN / */

/* FOOTER */

/* FOOTER / */